
:root {
  --clr-primary-1: hsl(322, 100%, 66%);
  --clr-primary-2: hsl(321, 100%, 78%);
  --clr-primary-3: hsl(0, 100%, 63%);

  --clr-neutral-1: hsl(192, 100%, 9%);
  --clr-neutral-2: hsl(207, 100%, 98%);

  --ff-body: "Open Sans", sans-serif;
  --ff-heading: "Poppins", sans-serif;

  --fw-heading: 700;
  --fw-sub-heading: 600;
  --fw-body: 400;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100dvh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
} 

a {
  text-decoration: none;
}

* {
  font-family: var(--ff-body);
  font-weight: var(--fw-body);
  color: var(--clr-neutral-1);
}

h1,
h2 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-heading);
  margin-bottom: 16px;
}

.button {
  background-color: var(--clr-primary-1);
  color: var(--clr-neutral-2);
  font-weight: var(--fw-sub-heading);
  padding: 15px 50px;
  border-radius: 40px;
  margin-bottom: 80px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

.button:hover,
.button:focus {
  background-color: var(--clr-primary-2);
}

.right-image-left-text-layout,
.left-image-right-text-layout {
  display: flex;
  align-items: center;
  gap: 90px;
}

.right-image-left-text-layout {
  flex-direction: row-reverse;
}

.right-image-left-text-layout .text,
.right-image-left-text-layout > img,
.left-image-right-text-layout .text,
.left-image-right-text-layout > img {
  flex: 1 1 0;
  width: 0;
}

@media (max-width: 768px) {
  .right-image-left-text-layout,
  .left-image-right-text-layout {
    flex-direction: column;
    justify-content: center;
  }

  .right-image-left-text-layout .text,
  .right-image-left-text-layout > img,
  .left-image-right-text-layout .text,
  .left-image-right-text-layout > img {
    width: 100%;
    text-align: center;
  }
}

.container {
  padding-inline: 15px;
  margin-inline: auto;
}

.section-margin {
    margin-bottom: 100px;
}

.section-margin-huge {
  margin-bottom: 200px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* header */

.header .container {
  padding-block: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width:481px) {
  .header .container img {
    width: 140px;
  }
}

.header .container a {
  font-family: var(--ff-body);
  text-transform: capitalize;
  color: var(--clr-primary-1);
  border: 1px solid var(--clr-primary-1);
  border-radius: 25px;
  padding: 7.5px 30px;
  transition: 0.3s;
}

.header .container a:hover, 
.header .container a:focus {
  color: var(--clr-primary-2);
  border-color: var(--clr-primary-2);
}

/* header */

/* landing */

.landing .container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.landing p {
  max-width: 471px;
  margin-bottom: 16px;
}

.landing img {
  width: 700px;
}

/* landing */

/* statics */

.statics .container {
  display: grid;
  grid-template-columns: repeat(2, 250px);
  justify-content: center;
  gap: 150px;
}

@media (max-width: 768px) {
  .statics .container {
    grid-template-columns: 1fr;
    place-items: center;
  }
}

.statics .stat h1 {
  font-size: 75px;
  margin-bottom: 0;
}

.statics .stat p {
  color: hsla(192, 100%, 9%, 0.65);
}

/* statics */

/* sections */

.bg-feature-1,
.bg-feature-2 {
  background-color: #f8fcfc;
  position: relative;
  padding-block: 50px;
}

.bg-feature-1::before,
.bg-feature-2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 165px;
  top: -165px;
}

.bg-feature-1::before {
  background-image: url("../images/bg-section-top-desktop-1.svg");
}

.bg-feature-2::before {
  background-image: url("../images/bg-section-top-desktop-2.svg");
  top: -155px;
}

.bg-feature-1::after,
.bg-feature-2::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 139px;
  bottom: -135px;
}

.bg-feature-1::after {
  background-image: url("../images/bg-section-bottom-desktop-1.svg");
}

.bg-feature-2::after {
  background-image: url("../images/bg-section-bottom-desktop-2.svg");
}

@media (max-width: 375px) {
  .bg-feature-1::before {
    background-image: url("../images/bg-section-top-mobile-1.svg");
    height: 112px;
    top: -110px;
  }

  .bg-feature-2::before {
    background-image: url("../images/bg-section-top-mobile-2.svg");
    height: 103px;
    top: -100px;
  }

  .bg-feature-1::after {
    background-image: url("../images/bg-section-bottom-mobile-1.svg");
    height: 52px;
    bottom: -50px;
  }

  .bg-feature-2::after {
    background-image: url("../images/bg-section-bottom-mobile-2.svg");
    height: 101px;
    bottom: -100px;
  }
}

/* features */

/* get started */

.get-started .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.get-started a {
  margin-bottom: 0;
}

/* get started */

/* footer  */

.footer {
  background-color: var(--clr-neutral-1);
  color: var(--clr-neutral-2);
  padding-block: 100px;
  position: relative;
}

.footer::before {
  content: '';
  background-image: url("../images/bg-footer-top-desktop.svg");
  position: absolute;
  width: 100%;
  height: 158px;
  top: -150px;
}

@media (max-width: 375px) {
  .footer::before {
    background-image: url("../images/bg-footer-top-mobile.svg");
    height: 53px;
    top: -50px;
  }
}

.footer h2,
.footer p,
.footer i,
.footer input[type='submit'] {
  color: white;
}

.footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer .col-1 p {
  max-width: 350px;
}

.footer .col-2 p {
  max-width: 380px;
}

.footer .col-1 > p {
  margin-block: 16px;
}

.footer .col-1 .info {
  display: flex;
  align-items: center;
}

.footer .col-1 .info i {
  margin-right: 16px;
  transition: 0.3s;
}

.footer .col-1 .social {
  margin-top: 64px;
}

.footer .col-1 .social i {
  transition: 0.3s;
}

.footer .col-1 .social a:not(:last-child){
  margin-right: 16px;
}

.footer .col-1 .social a:hover i,
.footer .col-1 .social a:focus i {
  color: var(--clr-primary-2);
}

.footer .col-2 p {
  margin-bottom: 32px;
}

.footer .col-2 input:focus {
  outline: none;
}

.footer .col-2 form {
  display: flex;
  gap: 25px;
}

.footer .col-2 input[type='email'] {
  flex: 1;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}

.footer .col-2 input[type='submit'] {
  border: none;
  border-radius: 5px;
  background-color: var(--clr-primary-1);
  font-weight: var(--fw-sub-heading);
  padding: 10px 30px;
  cursor: pointer;
  transition: 0.3s;
}

.footer .col-2 input[type='submit']:hover,
.footer .col-2 input[type='submit']:focus {
  background-color: var(--clr-primary-2);
}

@media (max-width: 768px) {
  .footer .container {
    grid-template-columns: 1fr;
    gap: 100px;
  }

  .footer .col-1 {
    order: 2;
  }

  .footer .col-2 {
    order: 1;
  }

  .footer .col-2 form {
    flex-direction: column;
  }
    
  .footer .col-2 input[type='submit'] {
    width: fit-content;
    place-self: end;
  }
}

/* footer */
